{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
      <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">Password reset</h1>
  
      <form method="POST" action="" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
        <p class="text-center text-lg font-medium">Reset your password now!</p>
        {% csrf_token %}
        <div>
          <label for="password" class="sr-only">New password</label>
  
          <div class="relative">
            {% render_field form.new_password1 type="password" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter new password" %}
  
          </div>
        </div>

        <div>
            <label for="password" class="sr-only">New password confirmation</label>
    
            <div class="relative">
              {% render_field form.new_password2 type="password" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter new password" %}
  
            </div>
          </div>

  
        <button type="submit" class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">Password reset</button>
      </form>
    </div>
  </div>
{% endblock %}